<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sofietroedsson.tax" >
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="The Sausage Dog"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            android:label="TheSausageDog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:label="Options" >
        </activity>
        <activity
            android:name=".Tax"
            android:configChanges="keyboardHidden|orientation|screenSize">
            android:label="Tax" >
        </activity>
        <activity
            android:name=".highScore"
            android:label="highscore" >
        </activity>
    </application>

</manifest>
